<%- include('partials/header') %>

    <script>
        var link = document.createElement('link');
        link.rel = 'icon';
        link.type = 'image/png';
        link.href = '/index/favicon.png';
        document.head.appendChild(link);
    </script>

    <head>
        <title>Gamebar - Changelog</title>
        <style>
            .changelog-header {
                font-size: 1.5em;
                margin-bottom: 5px;
                margin-top: 5px;
            }

            .changelog-innerli {
                margin-left: 25px;
            }

            .changelog-dropdown {
                background-color: #172222;
                border: solid 1px #4d664d;
                border-radius: 5px;
                padding: 10px;
                margin-right: 100px;
                cursor: pointer;
            }

            .changelog-dropdown summary {
                font-size: 1.8em;
                font-weight: bold;
            }

            #partials-header-version {
                right: 840px;
                top: 29px;
            }
        </style>
    </head>

    <body>
        <h1> Changelog </h1>
        <ul>
            <details class="changelog-dropdown">
                <summary>Pre-release</summary>
                <hr style="border: solid 1px #4d664d; margin-top: 5px; margin-bottom: 10px;">
                <div class="changelog-header">v0.1.0 - GameBar Homepage Created - 1/16/2026</div>
                    <li class="changelog-innerli">Added header</li>
                    <li class="changelog-innerli">Added game buttons</li>
                    <li class="changelog-innerli">Added game label character limit + hover effects</li>
                    <li class="changelog-innerli">Made thumbnail images work properly (created WIP placeholder)</li>
                    <li class="changelog-innerli">Started development on new game: Virtual Pet</li>
                <div class="changelog-header">v0.1.1 - Changelog created; Start of logging - 1/23/2026</div>
                    <li class="changelog-innerli">Added changelog button to homepage</li>
                    <li class="changelog-innerli">Created and formatted changelog page</li>
                    <li class="changelog-innerli">Added route to /changes; made changelog button work</li>
                    <li class="changelog-innerli">Made GameBar logo in header function as a link back to home page</li>
                <div class="changelog-header">v0.1.2 - New Games in Development - 1/29/2026</div>
                    <li class="changelog-innerli">Started development on 3 new games: 2048, Snake, and Minesweeper</li>
                    <li class="changelog-innerli">Added buttons to game page.</li>
                <div class="changelog-header">v0.1.3 - New Sprites + Changes in Development - 2/05/2026</div>
                    <li class="changelog-innerli">Added sprites for different game phases: Postponed, Testing, and Coming Soon...</li>
                    <li class="changelog-innerli">Minesweeper's development has been postponed</li>
                    <li class="changelog-innerli">Started development on new game: Pac-Man</li>
                    <li class="changelog-innerli">Included previously started, but postponed game buttons: Rock, Paper Scissors and Tic Tac Toe</li>
                    <li class="changelog-innerli">Teased upcoming game: Stack (new button)</li>
                    <li class="changelog-innerli">2048 has advanced to the Testing phase</li>
                <div class="changelog-header">v0.1.4 - 2048 Released - 2/06/2026</div>
                    <li class="changelog-innerli">2048 development completed, game button updated with logo</li>
                    <li class="changelog-innerli">Added route to game page; made 2048 play button work</li>
                    <li class="changelog-innerli">Game Page updates coming soon</li>
                <div class="changelog-header">v0.1.5 - Game Page Update - 2/08/2026</div>
                    <li class="changelog-innerli">Created game page for 2048</li>
                    <li class="changelog-innerli">Added game info, description, and changelog to 2048 game page</li>
                    <li class="changelog-innerli">Logic update coming soon to make uniform game pages</li>
                <div class="changelog-header">v0.1.6 - Changes in Development - 2/18/2026</div>
                    <li class="changelog-innerli">Started development on 3 new games: Stack, Solitaire, and Alchemy</li>
                    <li class="changelog-innerli">Virtual Pet postponed until further notice</li>
                    <li class="changelog-innerli">Server changes</li>
                <div class="changelog-header">v0.1.7 - Changes in Development - 2/25/2026</div>
                    <li class="changelog-innerli">Snake has advanced to the testing phase</li>
                    <li class="changelog-innerli">Stack has advanced to the testing phase</li>
                    <li class="changelog-innerli">Alchemy has advanced to the testing phase</li>
                <div class="changelog-header">v0.2.0 - Game Releases + Other Updates - 3/06/2026</div>
                    <li class="changelog-innerli">Game page logic update: There is now only ONE game page, that changes based on the game selected</li>
                    <li class="changelog-innerli">Snake completed and added to Gamebar</li>
                    <li class="changelog-innerli">Stack completed and added to Gamebar</li>
                    <li class="changelog-innerli">Alchemy completed and added to Gamebar</li>
                    <li class="changelog-innerli">Fixed minor database bug</li>
                    <li class="changelog-innerli">Changed game button rendering logic</li>
                    <li class="changelog-innerli">Removed unnecessary game loop</li>
                <div class="changelog-header">v0.2.1 - CSS Change - 3/06/2026</div>
                    <li class="changelog-innerli">Added transition effects to game buttons and changelog button</li>
                    <li class="changelog-innerli">Added transition effects to game page play button</li>
                    <li class="changelog-innerli">Fixed game label display issues</li>
                <div class="changelog-header">v0.2.2 - New Game + Updates - 3/18/2026</div>
                    <li class="changelog-innerli">Started development on new game: Wordle (advanced to testing)</li>
                    <li class="changelog-innerli">Added Wordle game button to homepage</li>
                    <li class="changelog-innerli">Updated game button sprites for simpler look</li>
                    <li class="changelog-innerli">Integrated sockets: Game Points WIP</li>
                <div class="changelog-header">v0.3.0 - Game Points - 3/20/2026</div>
                    <li class="changelog-innerli">Added Game Points currency system, purchasable from any page for digipogs</li>
                    <li class="changelog-innerli">Games now cost Game Points per play</li>
                    <li class="changelog-innerli">Game saving + single game purchase system coming soon</li>
                <div class="changelog-header">v0.3.1 - Wordle Released - 3/23/2026</div>
                    <li class="changelog-innerli">Wordle completed and added to Gamebar</li>
                <div class="changelog-header">v0.3.2 - Splash Text - 3/24/2026</div>
                    <li class="changelog-innerli">Added splash text to the header</li>
                <div class="changelog-header">v0.3.3 - More Splash Text - 3/25/2026</div>
                    <li class="changelog-innerli">Added 40 more splash texts</li>
                    <li class="changelog-innerli">Made a small change to game page CSS for future updates</li>
                <div class="changelog-header">v0.3.4 - Even More Splash Text - 3/31/2026</div>
                    <li class="changelog-innerli">Added 9 more splash texts</li>
                <div class="changelog-header">v0.3.5 - Had To Give Myself Work - 4/08/2026</div>
                    <li class="changelog-innerli">Added 2 new splash texts</li>
                    <li class="changelog-innerli">Began development on postponed game: Minesweeper</li>
                <div class="changelog-header">v0.3.6 - Minor CSS Change - 4/10/2026</div>
                    <li class="changelog-innerli">Made all scrollbars green instead of invisible</li>

            </details>

        </ul>
    </body>

    </html>